<section data-ng-controller="ThermostatsController" data-ng-init="findOne(); setupScheduleView(); ">
    <div class="page-header">


        <h1>Schedule 
            <form data-ng-submit="changeScheduleName()"> 
                <input ng-class="editing ? 'hasBorder' : 'noBorder'" type="text" ng-model="thermostat.schedules[scheduleIndex].label" ng-focus="editing = true" ng-blur="editing = false"/>
                <button class="btn btn-success btn-lg" data-ng-click="submit()" ng-if="editing">
                    Save
                </button> 
            </form> 
        </h1> 
        <span data-ng-bind="thermostat.schedules[index].scheduleVersion | date:'medium'"></span> 
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <a class="btn btn-default btn-block" data-ng-href="#!/thermostats/{{thermostat._id}}/schedules">
                <i class="glyphicon glyphicon-circle-arrow-left"></i> Back
            </a>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="btn btn-info btn-block" data-ng-click="activateSchedule(scheduleIndex);">
                <span ng-class="{true: 'glyphicon glyphicon-pause', false: 'glyphicon glyphicon-play'}[thermostat.schedules[scheduleIndex].isActive]">
                    

                </span>
                <span ng-if="thermostat.schedules[scheduleIndex].isActive">Deactivate</span>
                <span ng-if="!thermostat.schedules[scheduleIndex].isActive">Activate</span>  
            </button>
        </div>
    </div>
    &nbsp;

    <div class="list-group">

        <a data-ng-repeat="day in thermostat.schedules[scheduleIndex].days">
            <div class="col-xs-12 col-md-6" >
                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                    <div class="row">
                        <span class="pull-center" data-ng-bind="day.day | weekday"></span>   
                    </div>
                </div>
                <div class="panel-body" collapse="isCollapsed">
                    

                    <div class="row">
                        <div class="col-xs-12" ng-if="!isCollapsed">
                            <div google-chart chart="chartObject" ng-init="setChart(day, scheduleIndex, thermostat, chartObject)"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-default btn-block " ng-click="moreInfo = !moreInfo">
                                <span ng-if="!moreInfo">Edit</span>
                                <span ng-if="moreInfo">Exit</span>
                            </button>
                            &nbsp;
                        </div> 
                    </div>
                    <div class="row" ng-if="moreInfo">
                        <div class="col-xs-12 col-sm-8 col-me-8">
                            <div class="panel panel-success">
                                <div class="panel-heading" ng-click="checked = !checked">
                                    Add a new timePoint
                                </div>
                                <div class="panel-body" collapse="!checked">                    
                                    <form class="form-horizontal">
                                        <span class="row pull-center">
                                            <h3>hh  :  mm</h3>
                                        </span>
                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-2 col-sm-6 col-sm-offset-0">    
                                                <input type="number" min="0" max="23" data-ng-model="hour" class="form-control" placeholder="hh" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" required>
                                            </div> 

                                            <div class="col-xs-4  col-sm-6">    

                                                <input type="number" min="0" max="59"  data-ng-model="minute" id="minute" class="form-control" placeholder="mm" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" required> 


                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="number" min="10" max="30" data-ng-model="desiredTemperature" id="desiredTemperature" class="form-control" placeholder="desired temperature" required>
                                                <br>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" ng-click="addTimePoint(thermostat, scheduleIndex, day, hour, minute, desiredTemperature); checked = false;" class="btn btn-success btn-block">Save</button> 
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="btn btn-danger btn-block" ng-click="checked = !checked">
                                                    Cancel
                                                </button>
                                            </div>

                                        </div>





                                    </form>
                                </div>
                            </div>
                        </div>


                        <div data-ng-repeat="timePoint in day.timePoints">
                            <div class="col-xs-12 col-sm-4 col-me-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span data-ng-bind="timePoint.hour | twoChar"></span>:<span data-ng-bind="timePoint.minute | twoChar"></span>h
                                        <button class="btn btn-danger btn-xs pull-right" data-ng-click="removeTimePoint(timePoint, day, scheduleIndex, thermostat);">
                                            <span class="glyphicon glyphicon-remove" ></span>
                                        </button>
                                    </div>
                                    <div class="panel-body">
                                        <span data-ng-bind="timePoint.desiredTemperature"></span>°C
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            </a>
        </div>


    </section>

    <!-- CSS -->
    <head>
        <style>
            .hasBorder {
                border:1px solid #666;
            }

            .noBorder {
                border:none;
            }

            form, h1 {
                display: inline;
            }

            input {
                font-weight: bold;
            }

        </head>
    </style>