<section data-ng-controller="ThermostatsController" data-ng-init="findOne()">
<!-- <section data-ng-controller="ThermostatsController" data-ng-init="findOne()" data-ng-show="(authentication.user._id == thermostat.user._id)"> -->
	<div class="page-header">
		<h2 data-ng-bind="thermostat.name" class="text-center"></h2>
	</div>
    
    <div ng-if="thermostat.status.currentTemperature">
    	<div class="row">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<div class="jumbotron text-center">
				  <p>I want it to be</p>
				  <h3>{{thermostat.status.desiredTemperature | number:1}}°C</h3>

				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-2">
				<a data-ng-click="decreaseTemp();" ng-model="thermostat.status.desiredTemperature">
						<i STYLE="font-size: 30pt;" class="glyphicon glyphicon-asterisk pull-left"></i>
				</a>
			</div>
			<div class="col-xs-8">
				
				<input type="range" ng-mouseup="update();" class="rangeButton min="10" max="30" value="thermostat.status.desiredTemperature" step="0.5" ng-model="thermostat.status.desiredTemperature" ng-on>
			</div>
			<div class="col-xs-2">
				<a data-ng-click="increaseTemp();" ng-model="thermostat.status.desiredTemperature">
					<i STYLE="font-size: 30pt; color: #FF4A3B" class="glyphicon glyphicon-fire pull-right"></i>
				</a>
			</div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<span ng-if="thermostat.status.desiredTemperature>thermostat.status.currentTemperature" class="animate-if hot">
				  	<i STYLE="font-size: 80pt;" class="glyphicon glyphicon-fire text-center"></i>
				</span>
				<span ng-if="thermostat.status.desiredTemperature==thermostat.status.currentTemperature" class="animate-if neutral">
				  	<i STYLE="font-size: 80pt;" class="glyphicon glyphicon-ok text-center"></i>
				</span>
				<span ng-if="thermostat.status.desiredTemperature<thermostat.status.currentTemperature" class="animate-if cold">
				  	<i STYLE="font-size: 80pt;" class="glyphicon glyphicon-asterisk text-center"></i>
				</span>
			</div>
		</div>
		

		<h4 class="text-center">the room temperature is {{thermostat.status.currentTemperature}}°C at this moment.</h4>
	    <br>
	 </div>

	<div ng-if="!thermostat.status.currentTemperature">
		<alert type="danger" ng-if="!thermostat.status.currentTemperature" class="text-center text-danger">
	      	<span>Not possible to get the current temperature.</span>
	    </alert>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
			<a class="btn btn-default btn-lg btn-block" data-ng-click="showSchedules();">
				<i class="glyphicon glyphicon-calendar"></i> Schedules
			</a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
			<a class="btn btn-danger btn-lg btn-block" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i> Delete thermostat
			</a>
		</div>
	</div>
	<br>
 
	

    
	
</section>
